{% load static %}



<header class="header">
    <div class="container container--narrow">
      <a href="{% url 'home' %}" class="header__logo">
        <img src="{% static 'images/logo.png' %}" style="width:150px;height:50px;"/>
      </a>
      <nav class="header__nav">
        <input type="checkbox" id="responsive-menu" />
        <label for="responsive-menu" class="toggle-menu">
          <span>Menu</span>
          <div class="toggle-menu__lines"></div>
        </label>
        <ul class="header__menu">
          <li class="header__menuItem"><a href="{% url 'Create-Subnet' %}"> Add Subnet</a></li>
          <li class="header__menuItem"><a href="{% url 'Create-Vlan' %}"> Add Vlan</a></li>
          <li class="header__menuItem"><a href="{% url 'All-Vlans' %}"> All Vlans</a></li>
          <li class="header__menuItem"><a href="{% url 'Search-ip' %}"> Find IP </a></li>
        </ul>
      </nav>
    </div>
  </header>

