{% load static %}

<header>
    <h1>Network Admin</h1>
    
    

    <ul>
        
        <li><a href="{% url 'home' %}"> Home  </a> </li>
        <li><a href="{% url 'Create-Subnet' %}"> Add Subnet </a></li> 
        <li><a href="{% url 'Create-Vlan' %}"> Add Vlan </a> </li>
        <li><a href="{% url 'All-Vlans' %}"> All Vlans </a> </li>
        <li><a href="{% url 'Search-ip' %}"> Find IP </a> </li>
        
       
        </ul>

    <hr width="100%"
    size="10" color="orange"
    noshade>
</header>